# Python and Environment
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
.DS_Store

# Streamlit
.streamlit/
*.toml

# Testing
.pytest_cache/
htmlcov/
coverage.xml

# IDE
.vscode/
.idea/

# Accidental Directory
Y/
google-cloud-sdk/
