fastapi
uvicorn
google-generativeai
python-dotenv
pydantic
pydantic-settings
httpx
tenacity
slowapi==0.1.9
google-auth
python-jose[cryptography]
redis
prometheus-fastapi-instrumentator
supabase
cryptography
docker
